NEXT_PUBLIC_APP_NAME="萌牛AI运营管理"
NEXT_PUBLIC_APP_URL="http://localhost:3002"
NEXT_PUBLIC_API_URL="http://localhost:8080/api/v1/admin"
NEXT_PUBLIC_COMMON_API_URL="http://localhost:8080/api/v1/common"
NEXT_PUBLIC_SSE_BASE_URL="http://localhost:8080/api/v1"
NEXT_PUBLIC_ENABLE_MOCK="false"
