NEXT_PUBLIC_APP_URL=https://edu.mniuai.com
NEXT_PUBLIC_API_URL=/api/v1/edu
NEXT_PUBLIC_MAIN_SITE=https://mniuai.com
NEXT_PUBLIC_ENGINEER_APP=https://app.mniuai.com
NEXT_PUBLIC_KIDS_APP=https://kids.mniuai.com
NEXT_PUBLIC_CAMPUS_APP=https://campus.mniuai.com
NEXT_PUBLIC_PRO_APP=https://pro.mniuai.com
NEXT_PUBLIC_BIZ_APP=https://biz.mniuai.com
