NEXT_PUBLIC_APP_URL=https://mniuai.com
NEXT_PUBLIC_ENGINEER_APP_URL=https://app.mniuai.com
NEXT_PUBLIC_KIDS_APP_URL=https://kids.mniuai.com
NEXT_PUBLIC_CAMPUS_APP_URL=https://campus.mniuai.com
NEXT_PUBLIC_EDU_APP_URL=https://edu.mniuai.com
NEXT_PUBLIC_PRO_APP_URL=https://pro.mniuai.com
NEXT_PUBLIC_BIZ_APP_URL=https://biz.mniuai.com
NEXT_PUBLIC_API_URL=https://api.mniuai.com
