NEXT_PUBLIC_APP_URL=https://campus.mniuai.com
NEXT_PUBLIC_API_URL=/api/v1/campus
NEXT_PUBLIC_MAIN_SITE=https://mniuai.com
NEXT_PUBLIC_ENGINEER_APP=https://app.mniuai.com
NEXT_PUBLIC_EDU_APP=https://edu.mniuai.com
